*{ 
margin:0;
padding:0;
}

.title-message{

color:red;
}

body{
    height:100vh;
   background-image:url(img/background.jpg);
   background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
 }
@media only screen and (max-device-width: 480px) {
             body{
                background-image: url(img/background.jpg); }
               
            }
@media only screen and (min-width: 1024px) {
             body{
                background-image: url(img/background.jpg); }
               
            }

nav{
   
   width:48%;
   height:60px;
   background-color:#fff;
}

nav p{
   font-family:arial;
   color:#222;
   font-size:24px;
   line-height:55px;
   float:left;
   padding:0px 20px;
}

@media only screen and (max-width: 480px) {
  nav {  
   width:48%;
   height:20px;
   background-color:#fff;
    
  }
  nav p{font-family:arial;
   color:#222;
   font-size:7px;
   line-height:7px;
   float:left;
   padding:0px 7px;
       }
}

nav ul{
   float:left;
}

nav ul li{
    float:left;
    list-style:none;
    position:relative;
}

nav ul li a{
   display:block;
   font-family:arial;
   color:#222;
   font-size:14px ;
   padding:22px 14px;
   text-decoration:none;

}

nav ul li ul{
   display:none;
   position:absolute;
   background-color:#fff;
   padding:10px;
   border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
   display:block;
   
}

nav ul li ul li {
    width:180px;
    border-radius: 4px;
}


nav ul li ul li a{
    padding:8px 14px;
}

nav ul li ul li a:hover{
    background-color:#f3f3f3;
}

@media(max-width:768px){
nav ul{
display:block;
}

nav ul li{
display:block;
}

nav ul li ul{
width:100%;
z-index:1;
}

}



body{
    margin: 0;
    padding: 0;
    background: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
 

a {
  color: #000000;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #300505;
  text-decoration: none;
}

.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}

.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
/*=== buton login ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}

label.form-invalid {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  margin-top: -25px;
  padding: 7px 9px;
  background: #777777;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
}
label.form-invalid:after {
  top: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #777777;
  border-width: 6px;
}

.login-form-main-message {
  background: #ffffff;
  color: #999999;
  border-left: 3px solid transparent;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  height: 0;
  padding: 0 20px 0 17px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
  height: auto;
  opacity: 1;
  padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
  border-left-color: #2ecc71;
}
.login-form-main-message.error {
  border-left-color: #e74c3c;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  padding-top: 1px;
  cursor: pointer;
}
/* checkbox  */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 0px solid #aaa;
  background: #f0f0f0;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* checked mark t */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  position: absolute;
  color: #555555;
  transition: all .2s;
}
/* checked mark  se schimba */
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disable checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #8c8c8c;
  background-color: #878787;
}
[type="checkbox"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + label:after {
  color: #555555;
}
[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
  color: #8c8c8c;
}
/* accesibilitate */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before,
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted #f6f6f6;
}
/* hover pt informatii */
label:hover:before {
  border: 1px solid #f6f6f6 !important;
}

/* radio  */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  border-radius: 3px;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  border-radius: 35px;
}
/* check mark */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '?';
  top: 0;
  left: 2px;
  font-size: 14px;
}
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '\2022';
  top: 0;
  left: 3px;
  font-size: 30px;
  line-height: 25px;
}

.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}



.container{
position:absolute;
bottom:30px;
left:30px;
transform:translate(-50%,-50%);
margin-right:20vw;
}
.fa {
  float:right;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}



.map{
position:absolute;
bottom:150px;
left:5px;
margin-right:20vw;
z-index:-100;
}



table,
td {
    border: 1px solid #333;
    background-color:#BC87CD;
    position:relative;
    right:20px;
    float:right;
    
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
    position:relative;
    
    
}
@media only screen and (max-width: 767px) {
  body {
    
    background-image: url(img/background.jpg);
  }
}